<h1>Places</h1>

<div class="row">
  <ul>
    <% for place in @places %>
      <div class="col-md-3 col-sm-6">
        <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
      </div>
    <% end %>
  </ul>
</div>


<button type="button" class="btn btn-outline-primary"><a href="/places/new">New place</a></button>

